<header class="w-100 text-white">
<div class="layerAbout">
  <div class="imageHeader mb-2">
    <img [src]="image" class="h-100 w-100" alt="">
  </div>
  <h1>About Our Company</h1>
</div>


</header>

<section class="sectionOne">
<div class="container">

  <div class="tittle ">
    <div class="d-flex justify-content-start align-items-end">

      <span class="line mb-2"></span>
      <h5 class="text-scandry text-center" style="color: rgba(0, 60, 195, 1);"> About Company</h5>
    </div>
    </div>


    <div class="row rowSectionTwo">
      <div class="col-md-6">
        <div class="layerSectionOnePartOne ">
          <h2>What you have to know?</h2>
          <p>Seen Real Estate was established as an international real estate consulting company in 2017 in Saudi Arabia, and since that time it has rapidly achieved remarkable success. Through this success, another branch of the company was established in Egypt in New Cairo with the aim of providing the best customized solutions that meet your individual needs In purchasing residential or commercial units.
            Now expansion plans are coming to the United Arab Emirates thanks to our extensive experience and strong network of customers in many different regions.
          </p>
          </div>
        </div>

        <div class="col-md-6 position-relative ">
          <div class="iamgeSectionTwoPartTwo w-100  ">

            <img [src]="image1" class="w-75 " alt="">
          </div>
          <img [src]="image2" class="imagePostion w-100 opacity-25 position-absolute " alt="">
        </div>
    </div>
</div>

</section>

<section class="sectionTwo mt-5">
  <div class="container-fluid">

    <div class="row g-0 sectioTwoCol ">



  <div class="col-md-6 ">
    <div class="layerSectionTwoPartOne text-white  h-100">
      <div class="tittle ">
        <div class="d-flex justify-content-start align-items-end">

          <span class="line mb-2"></span>
          <h5 class="text-white text-center" > About </h5>
        </div>
      </div>

      <h1 class="py-3">Our Team</h1>
      <p>Our team is committed to provide the best customized solutions that suit your needs and ensure the best possible results
        Whether you are looking to buy, sell, or invest in residential or commercial units
        We are here to help you every step of the way in your real estate journey.
        </p>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
  </div>

</section>

<section class="sectionThree mt-5">
<div class="container">
  <div class="tittle text-center">
    <div class="d-flex justify-content-center align-items-end">

      <span class="line mb-2"></span>
      <h5 class="text-About text-center" > Mission </h5>
    </div>
    <h3 class="fw-bolder fs-1">Our Mission</h3>
  </div>

  <div class="row  mt-5">
    <div class="col-md-6">
      <div class="imageSectionThreePartOne">
        <img [src]="image3" class="w-100" alt="">
      </div>
    </div>

    <div class="col-md-6 ">
      <div class="d-flex justify-content-around align-items-center  ">
        <div class="imageDirctionSectionThree">
          <img [src]="image4" class="w-100" alt="">
        </div>
        <div class="captionSectiomThree">
          <h4>Lorem Ipsum</h4>
          <p class="py-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ipsum sed luctus interdum.</p>
        </div>

      </div>
      <div class="d-flex justify-content-around align-items-center my-1 ">
        <div class="imageDirctionSectionThree">
          <img [src]="image4" class="w-100" alt="">
        </div>
        <div class="captionSectiomThree">
          <h4>Lorem Ipsum</h4>
          <p class="py-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ipsum sed luctus interdum.</p>
        </div>

      </div>
      <div class="d-flex justify-content-around align-items-center my-1 ">
        <div class="imageDirctionSectionThree">
          <img [src]="image4" class="w-100" alt="">
        </div>
        <div class="captionSectiomThree">
          <h4>Lorem Ipsum</h4>
          <p class="py-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ipsum sed luctus interdum.</p>
        </div>

      </div>
      <div class="d-flex justify-content-around align-items-center my-1 ">
        <div class="imageDirctionSectionThree">
          <img [src]="image4" class="w-100" alt="">
        </div>
        <div class="captionSectiomThree">
          <h4>Lorem Ipsum</h4>
          <p class="py-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ipsum sed luctus interdum.</p>
        </div>

      </div>
    </div>
  </div>
</div>
</section>

<section class="sectionFour mt-5">

<div class="container-fluid">

<div class="row sectioFourCol g-0">
  <div class="col-md-6"></div>
  <div class="col-md-6">

    <div class="imageSectionFourPartOne text-white ">
      <div class="tittle ">
        <div class="d-flex justify-content-start align-items-end">

          <span class="line mb-2"></span>
          <h5 class="t text-center" >  Vision </h5>
        </div>
        <h3 class="fw-bolder fs-1 p-3">Our Vision</h3>
      </div>

      <p class="p-2">Our vision is to be a leading international real estate consultancy, recognized for our excellence,
        integrity, and commitment to delivering superior results. We aspire to be the preferred choice for clients
         seeking comprehensive and customized real estate solutions. By leveraging our market knowledge, strategic insights,
         and collaborative approach, we aim to shape the future of the real
         estate industry, driving innovation and creating lasting value for our clients, stakeholders, and communities we serve.</p>
    </div>
  </div>
</div>

</div>

</section>


<section class="mt-5">

  <div class="container">
    <div class="row">
      <div class="tittle ">
        <div class="d-flex justify-content-start align-items-end">

          <span class="line mb-2"></span>
          <h5 class="H5About " > Our Story </h5>
        </div>
        <h3 class="fw-bolder H3About fs-1">Tale behind <span class="text-About"> Seen
          real state consultancy</span></h3>
      </div>
      <div class="col-md-6 sectionFivePartOne">

        <p>Seen Real Estate is an international real estate consultancy that
          was established in 2017 in Saudi Arabia. Due to our remarkable growth and success,
           we have expanded our operations to Cairo, Egypt, with two branches located in New Cairo and Nasr City.
            Our goal is to be at the forefront of property marketing and provide tailored,
          innovative solutions that meet the individual needs of our clients, ensuring the best possible outcome is achieved.</p>
          <p>With a strong presence in Saudi Arabia, including branches in Jeddah and Riyadh, and our expansion plans
             to the United Arab Emirates,
             Seen Real Estate is well-positioned to serve clients across multiple markets in the region.</p>
      </div>

      <div class="col-md-6 position-relative ">
        <div class="iamgeSectionTwoPartTwo w-100  ">

          <img [src]="image1" class="w-100 " alt="">
        </div>
        <img [src]="image2" class="imagePostionSectionFive w-100 opacity-25 position-absolute " alt="">
      </div>
    </div>
  </div>
</section>

<section>

  <div class="container">
    <div class="row g-0">

      <div class="col-md-6">
        <div class="imageSectionSixPartOne">

          <img [src]="image5" class="w-100" alt="">
        </div>


      </div>

      <div class="col-md-6 layerSectionSixPartTwo position-relative overflow-hidden ">

        <div class="captionSectionSixPartTwo  p-5">
          <img [src]="image7" class=" position-absolute bottom-0 start-0 " alt="">
          <div class="tittle mt-5">
            <div class="d-flex justify-content-start align-items-end">

              <span class="line mb-2"></span>
              <h5 class="H5About mt-5" > Our FAQs </h5>
            </div>
            <h3 class="fw-bolder H3About fs-1 pt-3">Lorem ipsum </h3>
          </div>

          <div class="d-flex justify-content-between align-items-center SectionSixPartTwo py-2 ">
            <h6>Why is SEEN the best nocode tool?</h6>
            <div class="d-flex justify-content-center align-items-center imageSectionSix">
              <i class="fa-solid fa-minus text-white "></i>
            </div>
          </div>
          <p class="py-4">Ut enim ad minim veniam quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor</p>
            <div class="d-flex justify-content-between align-items-center SectionSixPartTwo py-4">
              <h6>Is NoCode the future of the web?</h6>
              <div class="d-flex justify-content-center align-items-center imageSectionSix1">
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center SectionSixPartTwo1 py-4">
              <h6>When did SEEN was founded?</h6>
              <div class="d-flex justify-content-center align-items-center imageSectionSix1">
                    </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
