<header class=" text-white">
  <div class="container ">
    <div class="row">
      <div class="col ">
        <div class="captioHeader  p-5">
          <div class=" layerHader ">
            <span class="pagrap1">Developers <i class="fa-solid fa-chevron-right fs-6"></i> </span>
            <span class="pagrap2 ps-2">Developer Details</span>
          </div>
          <h3 class=" ">PALM HILLS</h3>
        </div>
      </div>
    </div>
  </div>
</header>

<section class=" sectionOne mt-5">
  <div class="sectionOneContainer">

  <div class="container ">
    <div class="row  ">
      <div class="col ">
        <div class="layerSectionOne p-5">
          <div class="imageSectionOne d-flex justify-content-center align-items-center">
            <img [src]="image" alt="">
          </div>
          <div class="tittle">
            <div class="d-flex justify-content-start align-items-end">
            <span class="line mb-2"></span>
            <h5 class="text-scandry "> About</h5>
          </div>
          <h4>Palm Hills</h4>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur. Urna bibendum egestas quam eget a.
             Senectus nunc quis mi ultrices odio nibh sit quis ultricies. Sed convallis at et malesuada
             mattis aliquet feugiat a odio. Commodo egestas nunc quis bibendum nisi nisi facilisis faucibus.
             Felis ac ultricies imperdiet bibendum quam ridiculus dictum. Viverra feugiat mauris id potenti malesuada
             odio ipsum tristique pharetra. Aenean morbi ac diam aliquet ornare. Sed accumsan ornare sit enim ipsum odio
              morbi. Varius mauris nunc faucibus tortor tristique justo lacus ullamcorper. Lorem nunc lacinia ornare ac ut
              lacinia sollicitudin tortor feugiat. Egestas amet gravida aliquet at arcu nibh. Placerat malesuada in duis sed cras
              habitasse facilisis pretium mattis. Libero suscipit ultrices sit vulputate dignissim. Ornare enim nunc purus vestibulum.
              Sed sit amet duis amet odio placerat. Viverra in auctor nec lectus varius
            faucibus lectus pulvinar. Faucibus eget cursus facilisis egestas diam ut risus. Elit nulla diam egestas erat. </p>
            <div class="d-flex justify-content-end align-items-center my-2">
              <a routerLink="/developer" class=" ">View Details
              <img [src]="image4" alt=""></a>
                </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="SectionTwo mt-5">
<div class="container">
  <div class="tittle">
    <div class="d-flex justify-content-start align-items-end">
    <span class="line mb-2"></span>
    <h5 class="text-scandry "> Discover</h5>
  </div>
  <h4>Projects</h4>
  </div>
    <div class="row mt-5 g-4">

      <div class="col-md-4 "(click)="navigateToAbout()" >
        <div class="layerSectionTwo position-relative w-100" RouterLink="/developerDetalis">
              <img [src]="image5" class="card-img-top w-100 " alt="...">
              <div class="buttunCurosl position-absolute p-3 top-0 end-0"><img [src]="image6" alt=""></div>
              <div class="p-3 captionSectionTwo">
                  <h5 class="pagraph10">Mountain view Ras El Hikma</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="pagraph9 ">
                      <p class=""><img [src]="image7"  alt=""> The Wonder MarQ , Mostkbal City , Second New Cairo</p>
                    </div>
                  </div>
                  <p class="pagraph8 my-3"><span>From : </span><span class="text-scandry fs-4 fw-bold"> 11,513,000 </span><span> EGP</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 " (click)="navigateToAbout()">
              <div class="layerSectionTwo position-relative w-100" RouterLink="/developerDetalis">
                    <img [src]="image8" class="card-img-top w-100 " alt="...">
                    <div class="buttunCurosl position-absolute p-3 top-0 end-0"><img [src]="image6" alt=""></div>
                    <div class="p-3 captionSectionTwo">
                        <h5 class="pagraph10">Mountain view Ras El Hikma</h5>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="pagraph9 ">
                            <p class=""><img [src]="image7"  alt=""> The Wonder MarQ , Mostkbal City , Second New Cairo</p>
                          </div>
                        </div>
                        <p class="pagraph8 my-3"><span>From : </span><span class="text-scandry fs-4 fw-bold"> 11,513,000 </span><span> EGP</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 " (click)="navigateToAbout()">
                    <div class="layerSectionTwo position-relative w-100">
                          <img [src]="image9" class="card-img-top w-100 " alt="...">
                          <div class="buttunCurosl position-absolute p-3 top-0 end-0"><img [src]="image6" alt=""></div>
                          <div class="p-3 captionSectionTwo">
                              <h5 class="pagraph10">Mountain view Ras El Hikma</h5>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="pagraph9 ">
                                  <p class=""><img [src]="image7"  alt=""> The Wonder MarQ , Mostkbal City , Second New Cairo</p>
                                </div>
                              </div>
                              <p class="pagraph8 my-3"><span>From : </span><span class="text-scandry fs-4 fw-bold"> 11,513,000 </span><span> EGP</span></p>
                            </div>
                          </div>
                        </div>
                  <div class="col-md-4 " (click)="navigateToAbout()">
                    <div class="layerSectionTwo position-relative w-100">
                          <img [src]="image5" class="card-img-top w-100 " alt="...">
                          <div class="buttunCurosl position-absolute p-3 top-0 end-0"><img [src]="image6" alt=""></div>
                          <div class="p-3 captionSectionTwo">
                              <h5 class="pagraph10">Mountain view Ras El Hikma</h5>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="pagraph9 ">
                                  <p class=""><img [src]="image7"  alt=""> The Wonder MarQ , Mostkbal City , Second New Cairo</p>
                                </div>
                              </div>
                              <p class="pagraph8 my-3"><span>From : </span><span class="text-scandry fs-4 fw-bold"> 11,513,000 </span><span> EGP</span></p>
                            </div>
                          </div>
                        </div>
                  <div class="col-md-4 " (click)="navigateToAbout()">
                    <div class="layerSectionTwo position-relative w-100">
                          <img [src]="image9" class="card-img-top w-100 " alt="...">
                          <div class="buttunCurosl position-absolute p-3 top-0 end-0"><img [src]="image6" alt=""></div>
                          <div class="p-3 captionSectionTwo">
                              <h5 class="pagraph10">Mountain view Ras El Hikma</h5>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="pagraph9 ">
                                  <p class=""><img [src]="image7"  alt=""> The Wonder MarQ , Mostkbal City , Second New Cairo</p>
                                </div>
                              </div>
                              <p class="pagraph8 my-3"><span>From : </span><span class="text-scandry fs-4 fw-bold"> 11,513,000 </span><span> EGP</span></p>
                            </div>
                          </div>
                        </div>
                  <div class="col-md-4 " (click)="navigateToAbout()">
                    <div class="layerSectionTwo position-relative w-100">
                          <img [src]="image8" class="card-img-top w-100 " alt="...">
                          <div class="buttunCurosl position-absolute p-3 top-0 end-0"><img [src]="image6" alt=""></div>
                          <div class="p-3 captionSectionTwo">
                              <h5 class="pagraph10">Mountain view Ras El Hikma</h5>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="pagraph9 ">
                                  <p class=""><img [src]="image7"  alt=""> The Wonder MarQ , Mostkbal City , Second New Cairo</p>
                                </div>
                              </div>
                              <p class="pagraph8 my-3"><span>From : </span><span class="text-scandry fs-4 fw-bold"> 11,513,000 </span><span> EGP</span></p>
                            </div>
                          </div>
                        </div>
                  <div class="col-md-4 " (click)="navigateToAbout()">
                    <div class="layerSectionTwo position-relative w-100">
                          <img [src]="image5" class="card-img-top w-100 " alt="...">
                          <div class="buttunCurosl position-absolute p-3 top-0 end-0"><img [src]="image6" alt=""></div>
                          <div class="p-3 captionSectionTwo">
                              <h5 class="pagraph10">Mountain view Ras El Hikma</h5>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="pagraph9 ">
                                  <p class=""><img [src]="image7"  alt=""> The Wonder MarQ , Mostkbal City , Second New Cairo</p>
                                </div>
                              </div>
                              <p class="pagraph8 my-3"><span>From : </span><span class="text-scandry fs-4 fw-bold"> 11,513,000 </span><span> EGP</span></p>
                            </div>
                          </div>
                        </div>
                  <div class="col-md-4 " (click)="navigateToAbout()">
                    <div class="layerSectionTwo position-relative w-100">
                          <img [src]="image8" class="card-img-top w-100 " alt="...">
                          <div class="buttunCurosl position-absolute p-3 top-0 end-0"><img [src]="image6" alt=""></div>
                          <div class="p-3 captionSectionTwo">
                              <h5 class="pagraph10">Mountain view Ras El Hikma</h5>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="pagraph9 ">
                                  <p class=""><img [src]="image7"  alt=""> The Wonder MarQ , Mostkbal City , Second New Cairo</p>
                                </div>
                              </div>
                              <p class="pagraph8 my-3"><span>From : </span><span class="text-scandry fs-4 fw-bold"> 11,513,000 </span><span> EGP</span></p>
                            </div>
                          </div>
                        </div>
                  <div class="col-md-4 " (click)="navigateToAbout()">
                    <div class="layerSectionTwo position-relative w-100">
                          <img [src]="image9" class="card-img-top w-100 " alt="...">
                          <div class="buttunCurosl position-absolute p-3 top-0 end-0"><img [src]="image6" alt=""></div>
                          <div class="p-3 captionSectionTwo">
                              <h5 class="pagraph10">Mountain view Ras El Hikma</h5>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="pagraph9 ">
                                  <p class=""><img [src]="image7"  alt=""> The Wonder MarQ , Mostkbal City , Second New Cairo</p>
                                </div>
                              </div>
                              <p class="pagraph8 my-3"><span>From : </span><span class="text-scandry fs-4 fw-bold"> 11,513,000 </span><span> EGP</span></p>
                            </div>
                          </div>
                        </div>
          </div>
         </div>
</section>
