<header class="w-100 text-white">
  <div class="layerService">
    <div class="imageHeader mb-2">
      <img [src]="image" class="h-100 w-100" alt="" />
    </div>
    <h1>What We Offer</h1>
  </div>
</header>

<section>
  <div class="container1 d-flex position-relative mt-5">
    <div class="img-left">
      <img [src]="image2" alt="" class="w-100 h-100" />
    </div>
    <div class="img-right">
      <img [src]="image1" alt="" class="w-100 h-100" />
    </div>
    <div class="col details-left p-1 p-md-5">
      <div class="d-flex justify-content-start align-items-end">
        <span class="line mb-2"></span>
        <h5 class="text-scandry text-center" style="color: rgba(0, 60, 195, 1)">
          About Company
        </h5>
      </div>
      <h1 class="fw-bold mb-md-5">Property Development</h1>
      <div>
        <p>
          Our team of experienced consultants provides end-to-end advisory
          services for commercial and real estate development projects. We
          assist developers in researching potential sites, conducting
          feasibility reports, and performing competitive analyses. By
          understanding buyer trends and market dynamics, we help create
          properties that are not only competitive but also unique in the
          market. Additionally, we collaborate with interior designers to
          enhance the appeal and functionality of properties.
        </p>
      </div>
    </div>
  </div>

  <div class="container1 d-flex position-relative mt-5">
    <div class="img-left">
      <img [src]="image3" alt="" class="w-100 h-100" />
    </div>
    <div class="img-right">
      <img [src]="image2" alt="" class="w-100 h-100" />
    </div>
    <div class="col details-right p-1 p-md-5">
      <div class="d-flex justify-content-start align-items-end">
        <span class="line mb-2"></span>
        <h5 class="text-scandry text-center" style="color: rgba(0, 60, 195, 1)">
          About Company
        </h5>
      </div>
      <h1 class="fw-bold mb-md-5">Real Estate Investment Consulting</h1>
      <div>
        <p>
          For investors looking to add real estate to their portfolios, we offer
          comprehensive consulting services. Our consultants conduct in-depth
          economic analyses, evaluating pricing, supply, and demand to ensure
          sound financial decision-making. We assess the marketability of
          properties and estimate risks and potential returns on investment. We
          also review property appraisals and insurance policies, providing a
          comprehensive view of the investment opportunity.
        </p>
      </div>
    </div>
  </div>

  <div class="container1 d-flex position-relative mt-5">
    <div class="img-left">
      <img [src]="image2" alt="" class="w-100 h-100" />
    </div>
    <div class="img-right">
      <img [src]="image4" alt="" class="w-100 h-100" />
    </div>
    <div class="col details-left p-1 p-md-5">
      <div class="d-flex justify-content-start align-items-end">
        <span class="line mb-2"></span>
        <h5 class="text-scandry text-center" style="color: rgba(0, 60, 195, 1)">
          About Company
        </h5>
      </div>
      <h1 class="fw-bold mb-md-5">Consulting for Large Firms</h1>
      <div>
        <p>
          Our team of experienced consultants provides end-to-end advisory
          services for commercial and real estate development projects. We
          assist developers in researching potential sites, conducting
          feasibility reports, and performing competitive analyses. By
          understanding buyer trends and market dynamics, we help create
          properties that are not only competitive but also unique in the
          market. Additionally, we collaborate with interior designers to
          enhance the appeal and functionality of properties.
        </p>
      </div>
    </div>
  </div>

  <div class="container1 d-flex position-relative mt-5">
    <div class="img-left">
      <img [src]="image5" alt="" class="w-100 h-100" />
    </div>
    <div class="img-right">
      <img [src]="image2" alt="" class="w-100 h-100" />
    </div>
    <div class="col details-right p-1 p-md-5">
      <div class="d-flex justify-content-start align-items-end">
        <span class="line mb-2"></span>
        <h5 class="text-scandry text-center" style="color: rgba(0, 60, 195, 1)">
          About Company
        </h5>
      </div>
      <h1 class="fw-bold mb-md-5">Residential Consulting</h1>
      <div>
        <p>
          For investors looking to add real estate to their portfolios, we offer
          comprehensive consulting services. Our consultants conduct in-depth
          economic analyses, evaluating pricing, supply, and demand to ensure
          sound financial decision-making. We assess the marketability of
          properties and estimate risks and potential returns on investment. We
          also review property appraisals and insurance policies, providing a
          comprehensive view of the investment opportunity.
        </p>
      </div>
    </div>
  </div>
</section>
