<footer class="mt-5">
<div class="container">

  <img [src]="image" class="p-4" alt="">
  <div class="row">

    <div class="col-md-3">
      <div class="layerPartOne">
        <p class="pt-3">
          Our website to fulfill customer demand by making them satisfied with growing their Knowledge.
        </p>
        <div class="iconsFooter d-flex justify-content-start align-items-center pt-4">
          <i class="me-3 fa-brands fa-facebook"></i>
          <i class="me-3 fa-brands fa-youtube"></i>
          <i class="me-3 fa-brands fa-linkedin"></i>
          <i class="me-3 fa-brands fa-instagram"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="layerFooterPartTwo position-relative">
        <h4>
          Home
        </h4>
        <br>
        <p class="mt-4">About Us</p>
        <p class="">Contact Us</p>
        <p class="">Blog</p>
        <p class="">FAQs</p>

      </div>
    </div>
    <div class="col-md-3">
      <div class="layerFooterPartTwo2 position-relative">
        <h4>
          Support
        </h4>
        <br>
        <p class="mt-4">Privacy policy</p>
        <p>Tearms & Conditions</p>
        <p>Documentations</p>

      </div>
    </div>

    <div class="col-md-3">
      <div class="layerFooterPartTwo3 position-relative">
        <h4>
          Contact Us
        </h4>
        <br>
        <p class="mt-4"><img [src]="image2" alt=""> +10 12 55555 789</p>
        <p><img [src]="image1" alt=""> info-Name.com</p>
        <p><img [src]="image3" alt=""> info-Name.com</p>

      </div>
    </div>

    <div class="lineFooter"></div>
    <p class="pagrarphFooter mt-3">Copyright © 2023 Seen®</p>

  </div>
</div>


</footer>
