<header class="text-white">

<h2>Contact Us</h2>
</header>

<section class="mt-5">

  <div class="container">
    <div class="tittle ">
      <div class="d-flex justify-content-start align-items-end">

        <span class="line mb-2"></span>
        <h5 class="text-About1"> Contact </h5>
      </div>
      <h2 class="text-scandry2 pt-2">We want to hearfrom you </h2>
      </div>
    <div class="row mt-5">

        <div class="col-md-6">
          <div class="layerSectionOne">
            <div class="imagSectionOne d-flex justify-content-center align-items-center ">
              <img [src]="image" class="me-3" alt="">
              <p class="p-2 m-0">Hi, I’m Ahmad. Need help? Use the form below or email me at hello  email-nane.org.</p>
            </div>

            <div class="inputContact mt-3">
              <input name="name" class="p-2 mt-3" placeholder="Name * " type="text">
              <input name="email" class="p-2 mt-3" placeholder=" Email Adress" type="email">
              <input name="phone" class="p-2 mt-3" placeholder=" Phone Number *" type="tel">
              <input name="subject" class="p-2 mt-3" placeholder=" Subject *" type="text">
              <textarea name="Massage" class="p-2 mt-3" placeholder="Massage *" id="Massage" cols="30" rows="10"></textarea>
              <button class="mt-3">SEND</button>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="sectionOnePartTwo mb-3">
            <ul class="list-unstyled">
              <li>
                <img [src]="image5" alt="">
                <h3 class="li1">CORPORATE OFFICE IN EGYPT</h3>
              </li>
              <li>
                <img [src]="image1" alt="">
                <p class="li2">Area , Province, Neighborhood
                  Street Name ,Building Name/No. Floor</p>
              </li>
              <li>
                <img [src]="image4" alt="">
                <p class="li3">+10 12 55555 789</p>
              </li>
              <li>
                <img [src]="image2" alt="">
                <p class="li4">+10 12 55555 789</p>
              </li>
              <li>
                <img [src]="image3" alt="">
                <p class="li5">info-Name.com</p>
              </li>
            </ul>
          </div>

            <ul class="list-unstyled SectionPartTwoOnly  p-3 m-0">
              <li class="d-flex justify-content-start align-items-center">
                <img [src]="image6" class="me-3" alt="">
                <p class="li6">CORPORATE OFFICE IN EGYPT</p>
              </li>
            </ul>
        </div>
    </div>
  </div>
</section>
