<header class=" text-white">
  <div class="container ">
    <div class="row">
      <div class="col ">
        <div class="captioHeader  p-5">
          <div class=" layerHader ">
            <span class="pagrap1"> Blog <i class="fa-solid fa-chevron-right fs-6 "></i> </span>
            <span class="pagrap2 ps-2">Blog name</span>
          </div>
          <h3 class=" ">Blog Details</h3>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="mt-5">

  <div class="container">
    <h1 class="text-center">Lorem ipsum dolorSit </h1>
    <div class="row g-0 ">
      <div class="col-md-12">
        <div class="layerSection p-2">
          <img [src]="image" class="w-100" alt="">
        </div>
         </div>
         <div class="col-md-9 captioSectioTwoPartOne mt-5 p-3">

          <p>Lorem ipsum dolor sit amet consectetur. Urna bibendum egestas quam eget a. Senectus nunc quis mi ultrices
             odio nibh sit quis ultricies. Sed convallis at et malesuada mattis aliquet feugiat a odio. Commodo egestas nunc
             quis bibendum nisi nisi facilisis faucibus. Felis ac ultricies imperdiet bibendum quam ridiculus dictum. Viverra
             feugiat mauris id potenti malesuada odio ipsum tristique pharetra. Aenean morbi ac diam aliquet ornare. Sed accumsan
              ornare sit enim ipsum odio morbi. Varius mauris nunc faucibus tortor tristique justo lacus ullamcorper. Lorem nunc
              lacinia ornare ac ut lacinia sollicitudin tortor feugiat. Egestas amet gravida aliquet at arcu nibh. Placerat malesuada
              in duis sed cras habitasse facilisis pretium mattis. Libero suscipit ultrices sit vulputate dignissim. Ornare enim nunc
               purus vestibulum. Sed sit amet duis amet odio placerat. Viverra in auctor nec lectus varius faucibus lectus pulvinar.
               Faucibus eget cursus facilisis egestas diam ut risus. Elit nulla diam egestas erat. Facilisis hendrerit feugiat duis
               eleifend aenean in faucibus. Nec morbi euismod cursus mi diam in. Tortor facilisis nibh malesuada dui lobortis quam aliquet.
                Mi auctor quam nunc varius quam in nec elementum tristique. Velit cras ac donec a quis rhoncus. Consequat integer molestie
                euismod turpis turpis lorem. Donec magnis ornare egestas diam risus venenatis id libero adipiscing. Consectetur nisl turpis
                 est neque condimentum dictumst odio. Lectus arcu sodales lorem platea lorem risus semper ornare at. Lacus nunc nisl nullam
                  sit rutrum tellus faucibus ac mauris. Ut nisl rutrum tempus in fames vulputate volutpat. A tincidunt tortor nunc fringilla
                  amet leo. Sagittis sem viverra feugiat non. Nec adipiscing orci morbi ornare rhoncus ac cras. Quis nisi erat leo bibendum.
                  Tincidunt sit tempor vivamus nec eu. Auctor mi commodo id sapien. Semper malesuada sed quisque nunc consequat amet eget.
                   ultrices. Facilisis proin ut nam pellentesque in egestas vulputate. Tristique luctus
            sagittis cursus lectus eros sit turpis blandit tellus. Eget augue blandit lectus diam est tristique posuere pharetra.</p>
         </div>
         <div class="col-md-3 sectionNinePartOne overflow-hidden ">
          <div class="layerSectionNine " >
            <form class="w-75 m-auto  " action="">
              <div class="tittle py-2 ">
                <div class="d-flex justify-content-start align-items-end">
                  <span class="line mb-1"></span>
                  <h5 class="mt-5"> Contact Us</h5>
                </div>
                <p class="mt-2">Need expert advice?</p>
              </div>

              <input  type="text" placeholder="Name *" class="form-control my-3 p-2 ">
              <input  type="number" placeholder="phone Number *" class="form-control my-3 p-2 ">
              <input  type="text" placeholder="Jop Title *" class="form-control my-3 p-2 ">
              <input  type="text" placeholder="Administrative" class="form-control my-3 p-2 ">
              <div class="d-flex justify-content-start align-items-center">
                <button class="   my-3">submit</button>
              </div>
            </form>
          </div>

        </div>
           </div>
              </div>
</section>

<section class="mt-5">
  <div class="container">
    <div class="row ">
      <div class="linBlog"></div>
      <div class="col-md-12">
        <div class="layerSectioTwoPartTwo d-flex justify-content-between align-items-center p-4">
          <h3>Share this post</h3>
          <div class="iconBlog ">

            <img class="ms-2" [src]="image1" alt="">
            <img class="ms-2" [src]="image2" alt="">
            <img class="ms-2" [src]="image3" alt="">
          </div>
        </div>
      </div>
      <div class="linBlog"></div>
      <div class="col-md-12">

        <h4 class="mt-5 ">More To Explore</h4>

      </div>

      <div class="col-md-6 ">

        <div class="layerSection shadow p-3  mt-5 ">

          <div class="imagerSection ">
            <img [src]="image4" class="w-100" alt="">
          </div>
          <h4 class="my-5">Palm Hills</h4>
          <p class="my-2">Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
          <div class="d-flex justify-content-end align-items-center my-2">
          <a routerLink="/ProjectDetalis" class=" text-black ">View Details</a>
          <img [src]="image6" alt="">
            </div>
        </div>
      </div>
      <div class="col-md-6 ">

        <div class="layerSection shadow p-3 mt-5">

          <div class="imagerSection ">
            <img [src]="image5" class="w-100"  alt="">
          </div>
          <h4 class="my-5 ">ORASCOM</h4>
          <p class="my-2">Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
          <div class="d-flex justify-content-end align-items-center my-2">
          <a routerLink="/ProjectDetalis" class=" text-black ">View Details</a>
          <img [src]="image6" alt="">
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
