<header class="imageHeader text-white">
  <div class="container ">
    <div class="row">
      <div class="col ">
        <h1 class="p-5 ">Blog</h1>
      </div>
    </div>
  </div>
</header>
<div class="sectionTwo mt-5">

  <div class="container">
    <div class="row">
      <div class="col">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ipsum sed luctus interdum. Vestibulum est neque,
           tempus nec tincidunt ut, pellentesque eu nisi. Fusce accumsan felis odio,
           non sagittis lorem efficitur at. Quisque cursus sit amet erat quis tempus. Donec laoreet pretium leo sit amet feugiat.
        </p>
      </div>
    </div>
  </div>
</div>

<section class="sectionOne text-center">
  <div class="container">

    <div class="row">
      <div class="col-md-6" (click)="navigateToAbout()">

        <div class="layerSection p-2 mt-5" >

          <div class="imagerSection ">
            <img [src]="image" alt="">
          </div>
          <h4 class="my-4">Mountain View</h4>
          <p class="my-2">Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
          <div class="d-flex justify-content-end align-items-center my-2">
          <a  class=" text-black ">View Details</a>
          <img [src]="image4" alt="">
            </div>
        </div>
      </div>
      <div class="col-md-6"(click)="navigateToAbout()">

        <div class="layerSection p-2 mt-5">

          <div class="imagerSection ">
            <img [src]="image1" alt="">
          </div>
          <h4 class="my-4">Palm Hills</h4>
          <p class="my-2">Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
          <div class="d-flex justify-content-end align-items-center my-2">
          <a  class=" text-black ">View Details</a>
          <img [src]="image4" alt="">
            </div>
        </div>
      </div>
      <div class="col-md-6" (click)="navigateToAbout()">

        <div class="layerSection p-2 mt-5">

          <div class="imagerSection ">
            <img [src]="image3" alt="">
          </div>
          <h4 class="my-4">Mountain View</h4>
          <p class="my-2">Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
          <div class="d-flex justify-content-end align-items-center ">
          <a class=" text-black " routerLink="/ProjectDetalis">View Details</a>
          <img class="mb-0" [src]="image4" alt="">
            </div>
        </div>
      </div>
      <div class="col-md-6"(click)="navigateToAbout()">

        <div class="layerSection p-2 mt-5">

          <div class="imagerSection ">
            <img [src]="image2" alt="">
          </div>
          <h4 class="my-4">ORASCOM</h4>
          <p class="my-2">Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
          <div class="d-flex justify-content-end align-items-center my-2">
          <a  class=" text-black ">View Details</a>
          <img [src]="image4" alt="">
            </div>
        </div>
      </div>

    </div>
  </div>


</section>
