

<header class="w-100 vh-100   ">

  <div class="masterLayer w-100  h-100 position-relative">

        <div class="inputHome position-absolute ">
          <h4 class="p-2">Find Your Home</h4>
          <div class="inputs d-flex justify-content-center align-items-center ">
            <input class="form-control m-1 w-50" type="text" placeholder="Area , Compound, Developer">
            <input class="form-control m-1 w-50" type="text" placeholder="Property Types">
            <input class="form-control m-1 w-50" type="text" placeholder="Location">
            <input class="form-control m-1 w-50" type="text" placeholder="Price">
            <button class="btn-search text-white">Search</button>
          </div>
        </div>

      <div class="layer h-100 w-50 position-absolute top-0 start-0">

        <div class="h1header p-5 ">

          <h1 >Your Expert Guide to the Real Estate Market</h1>
          <p class="py-4">We help you buy, sell, or invest in real estate with confidence.</p>
        </div>
      </div>
      <button class="buutonMasteron">Contact us</button>
    </div>









</header>

<section class="sectionTwo mt-5 ">

  <div class="container">
    <div class="row g-0">

          <div class="col-md-4 ">
            <div class="image ">
              <img [src]="image" class="w-100" height="160" alt="image">
            </div>
          </div>

          <div class="col-md-8 ">
            <div class="layerSectionTwo ">
              <div class="captionSectionTwo p-3 text-center">
                <h3 class="fw-bold">Explor New Projects</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <button class="buttunSectionTwo">Explor More <i class="fa-solid fa-angles-right"></i></button>
              </div>
            </div>

      </div>

    </div>
  </div>
</section>

<section class="mt-5">
  <div class="tittle ">
    <div class="d-flex justify-content-center align-items-end">

      <span class="line mb-2"></span>
      <h5 class="text-scandry text-center"> Know more</h5>
    </div>
    <h2 class="text-center">Our Featured  <span class="text-main">Projects</span>. </h2>
    </div>

<div class="container">
  <div class="row g-3">
    <div class="col-md-4">
      <div class="position-relative ">
        <img [src]="image1" class="w-100 "  height="200"  alt="">
        <button class="btn-secandrey position-absolute">Residential</button>
      </div>
    </div>

    <div class="col-md-8 ">
      <div class=" position-relative">
        <img [src]="image2" class="w-100" height="200" alt="">
        <button class="btn-main position-absolute">Adminstrative</button>
      </div>
    </div>

    <div class="col-md-8">
      <div class="imageSectionThrer position-relative">
        <img [src]="image3" class="w-100 "  height="200"  alt="">
        <button class="btn-secandrey position-absolute">Commercial</button>
      </div>
    </div>
    <div class="col-md-4  ">
      <div class="imageSectionThree2 position-relative">
        <img [src]="image4" class="w-100" height="200" alt="">
        <button class="btn-main position-absolute">Coastal</button>
      </div>

    </div>
  </div>
</div>



</section>

<section class="mt-5">

  <div class="container">
    <div class="row">
      <div class="col-md-3 " >
        <div class="position-relative w-100">
              <img [src]="image21" class="card-img-top w-100 " alt="...">
              <button class="buttunCurosl position-absolute top-0 start-0">Launched</button>
              <div class="d-flex justify-content-between align-items-center my-3">
                <div class="">
                  <h5 class="">Apartment - Badya</h5>
                  <p class=""><i class="fa-solid fa-location-dot"></i>6th of October City ,Egypt</p>
                </div>
                <div>
                  <img [src]="image27" alt="">
                </div>
              </div>

              <ul class="list-unstyled  d-flex justify-content-between align-items-center w-100 ">
                <li class="">
                  <img [src]="image22" class="w-100" alt="">
                </li>
                <li class=" ">
                  <img [src]="image23"  alt="">
                </li>
                <li class="">
                  <img [src]="image24"  alt="">
                </li>
              </ul>
              <hr>
              <div class="card-body d-flex justify-content-between align-items-center">
                <p><span>From:</span><span class="text-scandry fs-4 fw-bold">11,513,000</span><span>EGP</span></p>
                <div>

                  <a href="#" class="card-link"><img [src]="image25"  alt=""></a>
                  <a href="#" class="card-link"><img [src]="image26"  alt=""></a>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-3 " >
            <div class="position-relative w-100">
                  <img [src]="image21" class="card-img-top w-100 " alt="...">
                  <button class="buttunCurosl position-absolute top-0 start-0">Launched</button>
                  <div class="d-flex justify-content-between align-items-center my-3">
                    <div class="">
                      <h5 class="">Apartment - Badya</h5>
                      <p class=""><i class="fa-solid fa-location-dot"></i>6th of October City ,Egypt</p>
                    </div>
                    <div>
                      <img [src]="image27" alt="">
                    </div>
                  </div>

                  <ul class="list-unstyled  d-flex justify-content-between align-items-center w-100 ">
                    <li class="">
                      <img [src]="image22" class="w-100" alt="">
                    </li>
                    <li class=" ">
                      <img [src]="image23"  alt="">
                    </li>
                    <li class="">
                      <img [src]="image24"  alt="">
                    </li>
                  </ul>
                  <hr>
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <p><span>From:</span><span class="text-scandry fs-4 fw-bold">11,513,000</span><span>EGP</span></p>
                    <div>

                      <a href="#" class="card-link"><img [src]="image25"  alt=""></a>
                      <a href="#" class="card-link"><img [src]="image26"  alt=""></a>
                    </div>

                  </div>
                </div>
              </div>
          <div class="col-md-3 " >
            <div class="position-relative w-100">
                  <img [src]="image21" class="card-img-top w-100 " alt="...">
                  <button class="buttunCurosl position-absolute top-0 start-0">Launched</button>
                  <div class="d-flex justify-content-between align-items-center my-3">
                    <div class="">
                      <h5 class="">Apartment - Badya</h5>
                      <p class=""><i class="fa-solid fa-location-dot"></i>6th of October City ,Egypt</p>
                    </div>
                    <div>
                      <img [src]="image27" alt="">
                    </div>
                  </div>

                  <ul class="list-unstyled  d-flex justify-content-between align-items-center w-100 ">
                    <li class="">
                      <img [src]="image22" class="w-100" alt="">
                    </li>
                    <li class=" ">
                      <img [src]="image23"  alt="">
                    </li>
                    <li class="">
                      <img [src]="image24"  alt="">
                    </li>
                  </ul>
                  <hr>
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <p><span>From:</span><span class="text-scandry fs-4 fw-bold">11,513,000</span><span>EGP</span></p>
                    <div>

                      <a href="#" class="card-link"><img [src]="image25"  alt=""></a>
                      <a href="#" class="card-link"><img [src]="image26"  alt=""></a>
                    </div>

                  </div>
                </div>
              </div>
          <div class="col-md-3 " >
            <div class="position-relative w-100">
                  <img [src]="image21" class="card-img-top w-100 " alt="...">
                  <button class="buttunCurosl position-absolute top-0 start-0">Launched</button>
                  <div class="d-flex justify-content-between align-items-center my-3">
                    <div class="">
                      <h5 class="">Apartment - Badya</h5>
                      <p class=""><i class="fa-solid fa-location-dot"></i>6th of October City ,Egypt</p>
                    </div>
                    <div>
                      <img [src]="image27" alt="">
                    </div>
                  </div>

                  <ul class="list-unstyled  d-flex justify-content-between align-items-center w-100 ">
                    <li class="">
                      <img [src]="image22" class="w-100" alt="">
                    </li>
                    <li class=" ">
                      <img [src]="image23"  alt="">
                    </li>
                    <li class="">
                      <img [src]="image24"  alt="">
                    </li>
                  </ul>
                  <hr>
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <p><span>From:</span><span class="text-scandry fs-4 fw-bold">11,513,000</span><span>EGP</span></p>
                    <div>

                      <a href="#" class="card-link"><img [src]="image25"  alt=""></a>
                      <a href="#" class="card-link"><img [src]="image26"  alt=""></a>
                    </div>

                  </div>
                </div>
              </div>
    </div>
    </div>
      </section>






<section class="mt-5">
  <div class="container">

    <div class="tittle">
      <div class="d-flex justify-content-start align-items-end">
      <span class="line mb-2"></span>
      <h5 class="text-scandry "> Discover</h5>
    </div>
    </div>
    <h2 class="">Our   <span class="text-main">Developers</span>. </h2>
    <div class="row">
      <div class="col-md-2">
        <div class="layerSectionFour rounded-circle d-flex justify-content-center align-content-center w-100">
          <div class="icon rounded-circle p-3">
            <img [src]="image5" class="w-100 rounded-circle" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-2">
         <div class="layerSectionFour rounded-circle d-flex justify-content-center align-content-center h-100 w-100">
         <div class="icon rounded-circle p-3">
            <img [src]="image6" class="w-100 " alt="">
          </div>
        </div>
      </div>
      <div class="col-md-2">
         <div class="layerSectionFour rounded-circle d-flex justify-content-center align-content-center h-100 w-100">
         <div class="icon rounded-circle p-4 d-flex justify-content-center align-content-center">
            <img [src]="image7" class="w-100 " alt="">
          </div>
        </div>
      </div>
      <div class="col-md-2">
         <div class="layerSectionFour rounded-circle d-flex justify-content-center align-content-center h-100 w-100">
         <div class="icon rounded-circle  p-4 d-flex justify-content-center align-content-center">
            <img [src]="image8" class="w-100 " alt="">
          </div>
        </div>
      </div>
      <div class="col-md-2">
         <div class="layerSectionFour rounded-circle d-flex justify-content-center align-content-center h-100 w-100">
         <div class="icon rounded-circle h-100 p-4 d-flex justify-content-center align-content-center">
            <img [src]="image9" class="w-100 " alt="">
          </div>
        </div>
      </div>
      <div class="col-md-2">
         <div class="layerSectionFour rounded-circle d-flex justify-content-center align-content-center h-100 w-100">
         <div class="icon rounded-circle h-100 p-3">
            <img [src]="image6" class="w-100 " alt="">
          </div>
        </div>
      </div>

    </div>
  </div>


</section>

<section class="mt-5">

  <div class="container">
    <div class="tittle">
      <div class="d-flex justify-content-start align-items-end">
      <span class="line mb-2"></span>
      <h5 class="text-scandry "> Discover</h5>
    </div>
    <h2 class="">Our   <span class="text-main">Developers</span>. </h2>
    </div>
  <div class="row">
    <div class="col-md-4 p-3">
      <div class="layerSectionFive h-100 w-100 p-3">
        <div class="w-25 p-2">
          <img [src]="image11" class="w-100" alt="">
        </div>
        <p>Seen Real Estate Consultancy is aleading international real estate consultancy firm with over
           8 years of experience. We offer a wide range of services to clients in the residential, commercial, and investment sectors. </p>
      </div>
    </div>
    <div class="col-md-4 p-3 ">
      <div class="layerSectionFive h-100 w-100 p-3">
        <div class="w-25 p-2">
          <img [src]="image10" class="w-100" alt="">
        </div>
        <p>Our team of experienced professionals is dedicated to providing our clients with the
           best possible service. We understand that buying, selling, or investing in real estate can be
          a daunting task, and we are here to make the process as smooth and stress-free as possible. </p>
      </div>
    </div>
    <div class="col-md-4 p-3">
      <div class="layerSectionFive h-100 w-100 p-3">
        <div class="w-25 p-2">
          <img [src]="image12" class="w-100" alt="">
        </div>
        <p>We are committed to providing our clients with the most accurate and up-to-date
          information about the real estate market. We have a deep understanding of the
           local market, and we are always up-to-date on the latest trends.</p>
      </div>
    </div>
  </div>
  </div>
</section>

<section >

  <div class="container SectionSix">
    <div class="row">
      <div class="col-md-4">
        <div class="layerSectionSix p-4">
          <h1> <span class="text-main">+</span>500</h1>
          <p>Developers Working in The Middle East</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layerSectionSix p-4">
          <h1> <span class="text-main">+</span>1250</h1>
          <p>Project Whether Residential, Commercial, Administrative & Coastal</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layerSectionSix p-4">
          <h1> <span class="text-main">+</span>10,000</h1>
          <p>clients have successfully utilized our services</p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="sectionSeven mt-5">
<div class="container sectionSevenContainer">
  <div class="tittle">
    <div class="d-flex justify-content-start align-items-end">
    <span class="line mb-2"></span>
    <h5 class="text-scandry "> Our Services</h5>
  </div>
  <h2 class="">What We <span class="text-main">Offer</span>. </h2>
  </div>
  <div class="row mt-3 g-3">
    <div class="col-md-6">
      <div class="layerSectionSeven d-flex justify-content-between align-content-center p-4 ">
        <div class="imageSectionSeven w-25 me-4" >
          <img [src]="image14" class="w-100" alt="">
        </div>
        <div class="captionSectionSeven ">
          <h6>Property Development</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            congue ipsum sed congue ipsum sed congue ipsum sed congue ipsum......  </p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="layerSectionSeven d-flex justify-content-between align-content-center p-4 ">
        <div class="imageSectionSeven w-25 me-4" >
          <img [src]="image15" class="w-100" alt="">
        </div>
        <div class="captionSectionSeven ">
          <h6>Property Development</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            congue ipsum sed congue ipsum sed congue ipsum sed congue ipsum......  </p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="layerSectionSeven d-flex justify-content-between align-content-center p-4 ">
        <div class="imageSectionSeven w-25 me-4" >
          <img [src]="image16" class="w-100" alt="">
        </div>
        <div class="captionSectionSeven ">
          <h6>Property Development</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            congue ipsum sed congue ipsum sed congue ipsum sed congue ipsum......  </p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="layerSectionSeven d-flex justify-content-between align-content-center p-4 ">
        <div class="imageSectionSeven w-25 me-4" >
          <img [src]="image17" class="w-100" alt="">
        </div>
        <div class="captionSectionSeven ">
          <h6>Property Development</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            congue ipsum sed congue ipsum sed congue ipsum sed congue ipsum......  </p>
          </div>
        </div>
    </div>
  </div>
</div>

</section>

<section class="mt-5">
  <div class="container">

    <div class="tittle ">
      <div class="d-flex justify-content-center align-items-end">
        <span class="line mb-2"></span>
        <h5 class="text-scandry  "> Testimonials</h5>
      </div>
      <h2 class="text-center">Our Customer<span class="text-main">Stories</span>. </h2>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 h-100 d-flex flex-column justify-content-between align-items-center">
        <div class="layerSectioneight d-flex justify-content-start align-items-center w-100 ">
          <img [src]="image18" class=" rounded-circle me-1 " alt="">
          <div class="captionSectioneight ms-1">
            <h5>Mustafa Ahmed:</h5>
            <p class="" >Founder of Luxury Estate</p>
          </div>
          <div class="iconSectioneight ms-3 ">
            <i class="fa-solid fa-arrow-left-long px-3 iconColor2"></i>
            <i class="fa-solid fa-arrow-right-long iconColor1"></i>
          </div>
          </div>

          <p class="w-100 fw-medium fs-1 my-5">
            They are such a great team.
            Glad to work with them!
          </p>
          <p class="mt-2 lead">I am very grateful to the Seen Real Estate team during my search for a property that meets my needs.                                                                                                                             They knew the market well and were ready to provide advice and assistance.                                        I am extremely pleased with the service I received from them.
          </p>
        </div>


        <div class="col-md-6">
            <div class="imageSectionEughtPartTwo">
              <img [src]="image19" class="w-100" alt="">
            </div>
        </div>

    </div>
  </div>
</section>

<section class="mt-5 sectionNine">
<div class="container ">
  <div class="row g-0">

    <div class="col-md-6 sectionNinePartOne ">
      <div class="layerSectionNine w-100 h-100 " >
        <form class="w-75 m-auto " action="">
          <div class="tittle py-2 ">
            <div class="d-flex justify-content-start align-items-end">
              <span class="line mb-1"></span>
              <h5 class="mt-5"> Contact Us</h5>
            </div>
            <h3 class="mb-5">Need expert advice?</h3>
          </div>

          <input  type="text" placeholder="text *" class="form-control my-3 ">
          <input  type="number" placeholder="phone Number *" class="form-control my-3 ">
          <input  type="text" placeholder="Lop Title *" class="form-control my-3 ">
          <textarea name="massege" class="form-control my-3 " placeholder="Your Massge" id="" cols="25" rows="11"></textarea>
          <div class="d-flex justify-content-start align-items-center">
            <button class="btn-secandrey w-25  my-3">submit</button>
          </div>
        </form>
      </div>

    </div>
    <div class="col-md-6 overflow-hidden">
      <div class="imageSectionNinePartTwo  " >
        <img [src]="image20"  class="w-100 " alt="">
      </div>
    </div>
  </div>
</div>

</section>
