<header class="imageHeader text-white">
  <div class="container ">
    <div class="row">
      <div class="col ">
        <h1 class="p-5 ">Developers</h1>
      </div>
    </div>
  </div>
</header>

<section class="sectionOne text-center">
  <div class="container">

    <div class="row">
      <div class="col-md-6">

        <div class="layerSection p-2 mt-5" >

          <div class="imagerSection ">
            <img [src]="image" alt="">
          </div>
          <h4 class="my-2">Mountain View</h4>
          <a class="text-decoration-none my-2" >10 Projects</a>
          <p class="my-2">Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
          <div class="d-flex justify-content-end align-items-center my-2">
          <a routerLink="/ProjectDetalis" class=" text-black ">View Details</a>
          <img [src]="image4" alt="">
            </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="layerSection p-2 mt-5">

          <div class="imagerSection ">
            <img [src]="image1" alt="">
          </div>
          <h4 class="my-2">Palm Hills</h4>
          <a class="text-decoration-none my-2" >10 Projects</a>
          <p class="my-2">Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
          <div class="d-flex justify-content-end align-items-center my-2">
          <a routerLink="/ProjectDetalis" class=" text-black ">View Details</a>
          <img [src]="image4" alt="">
            </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="layerSection p-2 mt-5">

          <div class="imagerSection ">
            <img [src]="image3" alt="">
          </div>
          <h4 class="my-2">Mountain View</h4>
          <a class="text-decoration-none my-2" >10 Projects</a>
          <p class="my-2">Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
          <div class="d-flex justify-content-end align-items-center my-2">
          <a class=" text-black " routerLink="/ProjectDetalis">View Details</a>
          <img [src]="image4" alt="">
            </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="layerSection p-2 mt-5">

          <div class="imagerSection ">
            <img [src]="image2" alt="">
          </div>
          <h4 class="my-4">ORASCOM</h4>
          <a class="text-decoration-none my-2" >10 Projects</a>
          <p class="my-2">Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.</p>
          <div class="d-flex justify-content-end align-items-center my-2">
          <a routerLink="/ProjectDetalis" class=" text-black ">View Details</a>
          <img [src]="image4" alt="">
            </div>
        </div>
      </div>

    </div>
  </div>


</section>
